@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: local("#{$font-family}"), 
			url("#{$file-path}.woff") format("woff"),
      url("#{$file-path}.ttf") format("ttf"),
      url("#{$file-path}.otf") format("otf");
  }
}

@include font-face("Roboto", "../fonts/Roboto/Roboto-Medium", 500);
@include font-face("HelveticaNeue", "../fonts/Helvetica_Neue/HelveticaNeueCyr-Light", 300);
@include font-face("HelveticaNeue", "../fonts/Helvetica_Neue/HelveticaNeueCyr-Bold", 700);
