@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
        src: url("#{$file-path}.otf") format("otf");
        src: url("#{$file-path}.woff") format("woff");
    }
}
@include font-face("HelveticaNeue", "../fonts/Helvetica_Neue/HelveticaNeueCyr-Light", 300);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Medium", 500);